# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Large generated video/output files
output/
runs/

# Input/test videos
videos/*.mp4
videos/*.avi
videos/*.mov

# YOLO cache
*.cache

# OS files
.DS_Store
Thumbs.db

nextWeb/.next/
nextWeb/node_modules/